table {
    background-color: rgb(179, 94, 94); /*Aqui estamos colocando cor de fundo*/
    text-align: center; /*Estamos alinhando o texto ao centro*/
    
}

tr {
    color: white;
    
}

.dombosco {
    background-color: rgb(196, 165, 31);
}

body{
    background-color: cornflowerblue;
}
.danone{
    background-color: rgb(202, 174, 17);
}
